#sidebar{
  .sidebar__menu {
    a {
      text-decoration: none;
    }
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    .menu {
      &__logo {
        font-family:'Courier New', Courier, monospace;
        align-items: center;
        margin-bottom: 15px;
        .home__icon {
          font-size: 2.5rem;
        }
        &:hover {
          color: #fff;
        }
      }
      &__user {
        align-items: center;
        padding: 10px 0px;
        .avatar {
          max-width: 55px;
        }
        .name {
          margin-left: 15px;
        }
      }
      &__list {
        margin-top: 15px;
        .item a{
          display: block;
          padding: 10px;
          border-radius: 3px;
          &:hover {
            background-color: rgba(163, 163, 163, 0.3);
           border-left: 2px solid rgb(34, 163, 159);;
          }
        }
      }
    }

    .action {
      padding: 15px 0px;
    }
  }
}
