#sidebar{
  .sidebar__menu {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    .menu {
      &__logo {
        font-family:'Courier New', Courier, monospace;
        align-items: center;
        margin-bottom: 15px;
        .home__icon {
          font-size: 2.5rem;
        }
      }
      &__user {
        align-items: center;
        padding: 10px 0px;
        .avatar {
          max-width: 55px;
        }
        .name {
          margin-left: 15px;
        }
      }
    }
  }
}
