:root {
  --dark: rgb(34, 34, 34);
  --white: #fff;
  --milky-white: rgb(243, 239, 224, 0.8);
  --primary: rgb(34, 163, 159);
  --primary-bold: rgb(22, 138, 134);
  --primary-blur: rgba(34, 163, 159, 0.5);
  --error: rgb(203, 24, 24);
  --blue-sky: rgb(66, 103, 178);
  --grey: rgb(128, 128, 128, 0.1);

  --bold-shadow: rgba(0, 0, 0, 0.9) 0px 15px 28px;
  --medium-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --bottom-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  --green-border: 1px solid rgb(34, 163, 159, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

h1 {
  font-weight: 500;
}

/* default */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.flex-container{
  display: flex;
}
.wrp-padding {
  padding: 15px;
}

/* id section */
#app-container {
  height: 100vh;
}
#sidebar {
  flex: 20%;
  z-index: 99;
}
#main-content {
  flex: 80%;
}


/* background */
.bg--dark {
  background-color: var(--dark);
}
.bg--white {
  background-color: var(--white);
}

/* text */
.text--white {
  color: var(--milky-white);
}
.text--error {
  color: var(--error);
}
.text--center {
  text-align: center;
}
.link--primary {
  padding: 5px 0px;
  text-decoration: none;
  color: var(--primary);
}
.link--primary:hover {
  text-decoration: underline;
  color: var(--primary-bold);
}

/* box-shadow */
.shadow--medium {
  box-shadow: var(--medium-shadow);
}
.shadow--bold {
  box-shadow: var(--bold-shadow)
}

/* border */
.border--primary {
  border-top: 1px solid var(--primary-blur);
  border-bottom: 1px solid var(--primary-blur);
}
.border--bottom {
  border-bottom: 1px solid var(--primary) !important;
}

/* button */
.btn--fullwidth {
  /* display: block; */
  width: 100%;
  margin-top: 15px;
  padding: 15px 5px;
  border-radius: 5px;
  font-size: 0.85rem;
}
.btn--primary {
  background-color: var(--primary);
  color: var(--white);
}
.btn--primary:hover {
  background-color: var(--primary-bold);
}
.btn--white {
  background-color: var(--white);
  border: 1px solid var(--primary);
  color: #000;
}
.btn--white:hover {
  background-color: var(--grey);
}
.btn--blue{
  background-color: var(--blue-sky);
  color: var(--white);
}

/* rectangle */
.rectangle--primary {
  background-color: var(--primary);
}


@media only screen and (max-width: 978px) {
  #sidebar {
      /* display: none; */
  }
  #menu-icon {
    display: inline-block;
  }
}