:root {
  --dark: rgb(34, 34, 34);
  --milky-white: rgb(243, 239, 224, 0.8);
  --primary: rgb(34, 163, 159);
  --error: rgb(203, 24, 24);

  --bold-shadow: rgba(0, 0, 0, 0.9) 0px 15px 28px;
  --medium-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --bottom-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  --green-border: 1px solid rgb(34, 163, 159, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* default */
.flex-container{
  display: flex;
}
.wrp-padding {
  padding: 15px;
}

/* id section */
#app-container {
  height: 100vh;
}
#sidebar {
  flex: 20%;
  z-index: 99;
}
#main-content {
  flex: 80%;
}


/* background */
.bg--dark {
  background-color: var(--dark);
}

/* text */
.text--white {
  color: var(--milky-white);
}

/* box-shadow */
.shadow--medium {
  box-shadow: var(--medium-shadow);
}
.shadow--bold {
  box-shadow: var(--bold-shadow)
}

/* border */
.border--primary {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}